@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

.main {
  height: 100vh;
  background: linear-gradient(to bottom right,#028357, #ffffff);
}

.homelogoimage {
  display: flex;
  margin: 200px;
  width: 300px;
  height: 180px;
  align-items: center;
  justify-content: center;
}