.main-content {
  margin:20px;
} 

  .Modal {
    position: fixed;
    bottom: -150vh;
    background-color: rgb(255, 255, 255);
    width: calc(100% - 240px); /* The 240 is the width of the navbar. */
    height: 60%;
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.15);
    left: 240;
    padding: 0 12px 12px;
    transition: all 0.3s ease-out;
    z-index: 10;
    text-align: center;
  }
  
  .Modal.Show {
    bottom: 0;
  }
  
  .Close {
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 50px;
    background-color: transparent;
    border: 0;
    font-size: 18px;
  }
  
  .Modal input {
    margin-bottom: 20px;
    margin-left: 20px;
    align-self: center;
  }

  .Overlay {
    background-color: rgba(0, 0, 0, 0.55);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: none;
    z-index: 5;
  }
  
  .Overlay.Show {
    display: block;
  }